html, body {
    margin: 0px;
    height: 100%;
}

.accordion {
    position: relative;
}

.navbar {
    background-color: #5E7D7B;  
}

.nav-link {
    color: rgb(200, 196, 196)
}

.navbar-brand {
    color: rgb(200, 196, 196)
}

#navbar{
    padding: 0px;
}

.accordion-button {
    background-color: #8EBDBA;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    flex-wrap: wrap;  
}

span {
    margin-top: 20px;
    display: flex; 
}

input {
   margin-right: 5px;
   
}

.accordion-item {
    min-height: 278px;
    background-color: #8EBDBA;
}

.accordion-header {
    background-color: #5E7D7B;
}

form {
    width: 100%;
    height: fit-content;
}

#quizNav {
    background-color: #5E7D7B;
    position:inherit;
}

.btn {
    border: solid black 1px;
    color: black;
}
/* Visojen ja tuloskorttien näkyvyys */
#easyQuiz {
    display: none;
}

#easyQuiz.visible {
    display: block;
}

#mediumQuiz {
    display: none;
}

#mediumQuiz.visible {
    display: block; 
}

#hardQuiz {
    display: none;
}

#hardQuiz.visible {
    display: block;
}

#ready {
    margin-top: 15px;
    width: 250px;
    flex-wrap: nowrap;
}

.card {
    display: none;
}

.card.visible{  
    display: flex;
    position: fixed;
    top: 10%;
    left: 45%;
    margin: -50px 0 0 -50px;
    height: fit-content;
    width: 25rem;;
    align-self: center;
    background-color: #5E7D7B;
    box-shadow: 1px 5px 10px 5px;
}

.hardCard {
    display: none;
}

#hardCard.visible{  
    display: flex;
    position: fixed;
    top: 15%;
    left: 45%;
    margin: -100px 0 0 -50px;
    height: fit-content;
    width: 25rem;;
    align-self: center;
    background-color: #5E7D7B;
    box-shadow: 1px 5px 10px 5px;
}

#mediumCard.visible{  
    display: flex;
    position: fixed;
    top: 15%;
    left: 45%;
    margin: -100px 0 0 -50px;
    height: fit-content;
    width: 25rem;
    align-self: center;
    background-color: #5E7D7B;
    box-shadow: 1px 5px 10px 5px;
}

/* Visojen ja tuloskorttien näkyvyys päättyy */

img {
    height: 300px;
}

.list-group-item {
    background-color: #5E7D7B;
}

.card-body > a {
    border: solid 1px black;
    border-radius: 3px;
    padding: 4px;
    text-decoration: none;
    background-color: #8EBDBA;
    color: black;
}

.card-body > a:hover {
    background-color: #6c757d;
    color: #fff;
}

/* Tervetuloa sivu ja sen näkyvyys */
.box {
    display: none;
}

.box.visible {
    display: flex;
    background-color: #8EBDBA;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#start {
    margin: 5px 0px 0px 15px;
    width: 80px;
    height: fit-content;
    box-shadow: 0px 5px 5px;
}

.welcome{
    border: solid 1px black;
    width: 300px;
    height: fit-content;
    padding: 10px;
    margin-top: 150px;
    border-radius: 4px;
    box-shadow: 0px 5px 5px;   
}

@media screen and (max-width: 640px) {
    .card.visible{  
        display: flex;
        position: fixed;
        top: 10%;
        left: 12%;
        margin: -50px 0 0 -20px;
        height: fit-content;
        width: 20rem;
        align-self: center;
        background-color: #5E7D7B;
        box-shadow: 1px 5px 10px 5px;
    }
    #mediumCard.visible{  
        display: flex;
        position: fixed;
        top: 25%;
        left: 20%;
        margin: -50px 0 0 -50px;
        height: fit-content;
        width: 20rem;
        align-self: center;
        background-color: #5E7D7B;
        box-shadow: 1px 5px 10px 5px;
    }
    #hardCard.visible{  
        display: flex;
        position: fixed;
        top: 25%;
        left: 20%;
        margin: -50px 0 0 -50px;
        height: fit-content;
        width: 20rem;
        align-self: center;
        background-color: #5E7D7B;
        box-shadow: 1px 5px 10px 5px;

    }
    img {
    display: none;
    }

    .box.visible {
        height: 791px;
    }
}

@media screen and (max-width: 1280px) {
    .box.visible {
        height: 791px;
    }
}
