.navbar {
    background-color: #5E7D7B;
}

#navbar{
    padding: 0px;
}

.accordion-button {
    background-color: #8EBDBA;
}
.accordion-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}


.accordion-item {
    min-height: 278px;
    background-color: #8EBDBA;
}

.accordion-header {
    background-color: #5E7D7B;
}

/*input {
    margin-left: 150px;
}*/

form {
    width: 100%;
    height: fit-content;
}

#quizNav {
    background-color: #5E7D7B;
    position:inherit;
}

.btn {
    border: solid black 1px;
    color: black;
}

#easyQuiz {
    display: none;
}

#easyQuiz.visible {
    display: block;
    
}

#mediumQuiz {
    display: none;
}

#mediumQuiz.visible {
    display: block;
    
}

#hardQuiz {
    display: none;
}

#hardQuiz.visible {
    display: block;
}

#welcome {
    border: solid 1px black;
    width: 505px;
    height: 140px;
    position: absolute;
    margin-left: 500px;
    margin-top: 60px;
    justify-content: center;
}

#start {
    margin: 5px 0px 0px 15px;
    width: 80px;
}