body {
    background-color: #8EBDBA;
}

.navbar {
    background-color: #5E7D7B;
}


#navbar{
    padding: 0px;
}

.accordion{
    width: 100%;
}

.testing {
    display: flex;
}

form {
    width: 100%;
}