
body {
    background-color:;
}
#quiz {
    background-image: url(/images/oldpaper.jpg);
    padding: 40px;
    border-radius: 10px;
}
/* naviin tilaa */
.col-lg-2 {
    padding: 30px;
}

/* radiot alekkain */
.answer{
    display: flex;
    flex-direction: column;
}

/* tilaa progressiin */
.progress {
    margin: 20px;
    background-color: #b4c4c3;
    
}

.next {
    margin: 20px;
    background-color: #b4c4c3;
    border: 1px solid black;
    border-radius: 10px;
}

.sidenav {
    background-color: #5E7D7B;
    color: #fff;
    border-radius: 10px;
}

.nav-text {
    color: #fff;
}