

/*carousellin sijainti*/
.carousel-item img{
    margin: auto;
}

    /* carousellin otsikon sijainti*/
    .carousel-caption {
            margin-bottom: 100px;
            
    }
    /* otsikko etusivulle + placeholder väri*/
    .carouselHeader{
        font-size: 110px;
        color: blue; 
    }

    /* carusellin margin*/
    #carouselExampleCaptions{
        margin-top: 90px;
    }

    body {
        background-color: blueviolet;
    }