

/*carousellin sijainti*/
.carousel-item img{
    margin: auto;
}

    /* carousellin otsikon sijainti*/
    .carousel-caption {
            margin-bottom: 100px;
            
    }
    /* otsikko etusivulle + placeholder väri*/
    .carouselHeader{
        font-size: 110px;
        color: blue; 
    }

    /* carousellin margin*/
    #carouselExampleCaptions{
        margin-top: 90px;
    }

    body {
        background-color: blueviolet;
    }

    /* <p> otsikot carousel*/
    .infoHeader{
        font-size: 25px;
        color: greenyellow;
    }


    /*carousel button*/

    .carousel-control-next{

        margin-right: 350px;
        position: relative;
        margin-top: 145px;
        margin-bottom: 90px;
        
    }

    /*carousel prev slide*/

    .carousel-control-prev{
        position: relative;
        margin-top: 145px;
        margin-bottom: 90px;
        margin-left: 350px;
    }