
.navbar {
    background-color: #5E7D7B;
    
}
.nav-link {
    color: rgb(255, 255, 255)
}

.navbar-brand {
    color: rgb(255, 255, 255)
}

body {
    background-color: #8EBDBA;
}

/*carousellin sijainti + koko*/
.carousel-item img{
    margin: auto;
    width: 640px;
    height: 460px;
}

    /* carousellin otsikon sijainti*/
    .carousel-caption {
            margin-bottom: 100px;
            
    }
    /* Karusellin otsikkoväri (placeholder)*/
    .carouselHeader{
        font-size: 110px;
        color: rgb(48, 64, 63);
        -webkit-text-stroke: rgb(207,191,192) 2px;
        margin-bottom: 55px;
        
    }

    /* carousellin margin*/
    #carouselExampleCaptions{
        margin-top: 90px;
    }

    

    /* <p> Karusellin tekstin väri*/
    .infoHeader{
        font-size: 35px;
        color: #5E7D7B;
        -webkit-text-stroke: 0.5px rgb(255, 255, 255);
        
        
    }

    /*carousel button*/
    .carousel-control-next{
        margin-right: 380px;
        margin-top: 145px;
        margin-bottom: 130px;
        
    }
    
    /*carousel prev slide*/
    .carousel-control-prev{
        margin-left: 380px;
        margin-top: 145px;
        margin-bottom: 130px;
    }

    .carousel-control-prev-icon {
        display: none;
    }

    .carousel-control-next-icon {
        display: none;
    }